{% extends 'fertilizer_company_layout.html' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Place Your Order</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Orders</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Blocks for each fish -->
     
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row">
            {% for fish in fish_list %}
            <div class="col-10 col-sm-5 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">
                  Fish Name - {{ fish.name }}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="lead"><b>Location - {{ fish.location }}</b></h2>
                      <p class="text-muted text-sm"><b>About: </b> Quantity - {{ fish.quantity }} | Price - ${{ fish.price }}</p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: {{ fish.address }}</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{ fish.phone }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-middle">
                    <button type="button" class="btn btn-sm btn-primary add-to-cart" 
                            data-name="{{ fish.name }}" 
                            data-location="{{ fish.location }}" 
                            data-quantity="{{ fish.quantity }}" 
                            data-price="{{ fish.price }}">
                      <i class="fas fa-cart-plus"></i> Add to Cart
                      <span class="checkmark" style="display: none;"><i class="fas fa-check"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
    </section>


    <style>
      .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ddd; /* Optional: For better separation of items */
    }
    
    .item-info {
        flex: 2; /* Adjust the flex value to control the space taken by the item details */
        padding-right: 20px; /* Add space after the item details */
    }
    
    .item-quantity-controls {
        display: flex;
        align-items: center;
        flex: 1; /* Adjust as necessary */
    }
    
    .item-quantity-controls input {
        width: 50px; /* Set a fixed width for the quantity input */
        text-align: center; /* Center the quantity value */
        margin: 0 10px; /* Add space around the input */
    }
    
    .item-price {
        flex: 1;
        text-align: right;
        padding-left: 20px; /* Add space before the price */
    }
    
    .remove-item {
        margin-left: 20px; /* Add space before the Remove button */
    }
    
    </style>
    <!-- Cart Summary Section -->
    <section class="content">
      <div class="card card-solid" style="max-width: 700px; margin: 0 auto;">
        <div class="card-body" >
          <h3>Your Cart</h3>
          <ul id="cartItems" class="list-group mb-3">
            <!-- Cart items will be dynamically added here -->
          </ul>
          <button type="button" class="btn btn-success" id="placeOrder">Place Order</button>
        </div>
      </div>
    </section>

    <!-- Modal Structure -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true" >
      <div class="modal-dialog" role="document" style="max-width:700px; margin: 0 auto;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cartModalLabel">Order Summary</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5>Items in your cart:</h5>
            <ul id="modalCartItems" class="list-group">
              <!-- Cart items will be dynamically added here for the modal -->
            </ul>
            <p><strong>Total Quantity:</strong> <span id="modalTotalQuantity"></span></p>
            <p><strong>Total Price:</strong> <span id="modalTotalPrice"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
            <button type="button" class="btn btn-success" id="confirmOrder">Confirm Order</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.content-wrapper -->

  <!-- JavaScript to handle cart functionality -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const cartItems = document.getElementById('cartItems');
        const placeOrderButton = document.getElementById('placeOrder');
        const cartModal = $('#cartModal');
        const modalCartItems = document.getElementById('modalCartItems');
        const modalTotalQuantity = document.getElementById('modalTotalQuantity');
        const modalTotalPrice = document.getElementById('modalTotalPrice');

        function updateModal() {
            modalCartItems.innerHTML = '';
            let totalQuantity = 0;
            let totalPrice = 0;

            Array.from(cartItems.children).forEach(item => {
                const clonedItem = item.cloneNode(true);
                clonedItem.querySelector('.remove-item').addEventListener('click', function() {
                    removeItem(item.getAttribute('data-name'));
                });
                clonedItem.querySelector('.quantity-plus').addEventListener('click', function() {
                    updateQuantity(item.getAttribute('data-name'), 1);
                });
                clonedItem.querySelector('.quantity-minus').addEventListener('click', function() {
                    updateQuantity(item.getAttribute('data-name'), -1);
                });
                modalCartItems.appendChild(clonedItem);

                
        
                const itemQuantity = parseInt(item.getAttribute('data-quantity'));
        
                const itemPrice = parseFloat(item.getAttribute('data-price'));
                totalQuantity += itemQuantity;
                totalPrice += itemPrice;
            });

            modalTotalQuantity.textContent = totalQuantity;
            modalTotalPrice.textContent = `$${totalPrice.toFixed(2)}`;
        }

        function isItemInCart(name) {
            return Array.from(cartItems.children).some(item => item.getAttribute('data-name') === name);
        }

        function removeItem(name) {
            Array.from(cartItems.children).forEach(item => {
                if (item.getAttribute('data-name') === name) {
                    cartItems.removeChild(item);
                }
            });
            updateModal();
        }

        function updateQuantity(name, change) {
            Array.from(cartItems.children).forEach(item => {
                if (item.getAttribute('data-name') === name) {
                
                    const quantityInput = item.querySelector('.item-quantity');
                    const maxQuantity = parseInt(item.getAttribute('data-max-quantity'));
                    let newQuantity = parseInt(quantityInput.value) + change;
                    
                    if (newQuantity < 1) newQuantity = 1; // Minimum quantity is 1
                    if (newQuantity > maxQuantity) newQuantity = maxQuantity; // Limit quantity to maxQuantity

                    quantityInput.style.width = '40px'; // Adjust the width as per your requirement
                    quantityInput.style.textAlign = 'center'; 

                    quantityInput.value = newQuantity;
                    const itemPricePerUnit = parseFloat(item.getAttribute('data-price-per-unit'));
                    const newPrice = itemPricePerUnit * newQuantity;
                    item.setAttribute('data-quantity', newQuantity);
                    item.setAttribute('data-price', newPrice.toFixed(2));
                    item.querySelector('.item-price').textContent = `$${newPrice.toFixed(2)}`;
                }
            });
            updateModal();
        }

        function toggleItem(button) {
            const name = button.getAttribute('data-name');
            const location = button.getAttribute('data-location');
            const quantity = parseInt(button.getAttribute('data-quantity'));
            const price = parseFloat(button.getAttribute('data-price'));
            const pricePerUnit = price / quantity;

            if (isItemInCart(name)) {
                removeItem(name);
                button.querySelector('.checkmark').style.display = 'none';
            } else {
                const listItem = document.createElement('li');
                listItem.className = 'list-group-item';
                listItem.innerHTML = `
                    <div class="cart-item d-flex justify-content-between align-items-center">
        <div class="item-info">
            ${name} from ${location}
        </div>
        <div class="item-quantity-controls d-flex align-items-center">
            <button class="quantity-minus btn btn-sm btn-outline-secondary">-</button>
            <input type="text" class="item-quantity" value="${quantity}" readonly>
            <button class="quantity-plus btn btn-sm btn-outline-secondary">+</button>
        </div>
        <div class="item-price">
            $<span>${price.toFixed(2)}</span>
        </div>
        <button class="btn btn-danger btn-sm remove-item">Remove</button>
    </div>
`;
                  
                listItem.querySelector('.item-quantity').style.width = '40px';
                listItem.querySelector('.item-price').style.width = '60px';
               
                    
                
                listItem.setAttribute('data-name', name);
                listItem.setAttribute('data-quantity', quantity);
                listItem.setAttribute('data-price-per-unit', pricePerUnit.toFixed(2));
                listItem.setAttribute('data-price', price.toFixed(2));
                listItem.setAttribute('data-max-quantity', quantity);

                listItem.querySelector('.remove-item').addEventListener('click', function() {
                    removeItem(name);
                });

                listItem.querySelector('.quantity-plus').addEventListener('click', function() {
                    updateQuantity(name, 1);
                });

                listItem.querySelector('.quantity-minus').addEventListener('click', function() {
                    updateQuantity(name, -1);
                });

                cartItems.appendChild(listItem);
                button.querySelector('.checkmark').style.display = 'inline';
            }

            updateModal();
        }

        document.querySelectorAll('.add-to-cart').forEach(button => {
            button.addEventListener('click', function() {
                toggleItem(button);
            });
        });

        placeOrderButton.addEventListener('click', function() {
            cartModal.modal('show');
        });

        document.getElementById('confirmOrder').addEventListener('click', function() {
            const orderDetails = [];
            Array.from(cartItems.children).forEach(item => {
                const name = item.getAttribute('data-name');
                const quantity = parseInt(item.getAttribute('data-quantity'));
                const price = parseFloat(item.getAttribute('data-price'));
                orderDetails.push({ name, quantity, price });
            });
            console.log(orderDetails); // This will log the final order details; replace with actual submission logic
            cartModal.modal('hide');
        });
    });
  </script>
{% endblock %}
