{% extends 'fisherman_layout.html' %}


{% block body %}

<div class="content-wrapper kanban">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1>Current Stock Details</h1>
          </div>
          <div class="col-sm-6 d-none d-sm-block">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Current Stock Details</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
<section class="content pb-3">
    <div class="container-fluid h-100">
      <div class="card card-row card-primary">
        <div class="card-header">
          <h3 class="card-title">
            Newly Added
          </h3>
        </div>
        <div class="card-body">
            <div class="card card-light card-outline">
              <div class="card-header">
                <h5 class="card-title">Fish Name- Shark</h5>
                <div class="card-tools">
                  <p class="btn btn-tool">2 hours ago</p>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <p>
                    Time- 11:52 Am<br>
                    Weight- 20kg<br>
                    pickup Location- Akurdi<br>

                </p>
              </div>
            </div>
            <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">Fish Name- Tuna</h5>
                  <div class="card-tools">
                    <p class="btn btn-tool">3 hours ago</p>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                      Time- 9:52 Am<br>
                      Weight- 30kg<br>
                      pickup Location- Akurdi<br>

                  </p>
                </div>
              </div>
          </div>
      </div>
      
      <div class="card card-row card-default">
        <div class="card-header bg-info">
          <h3 class="card-title">
            In progress
          </h3>
        </div>
        <div class="card-body">
            <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">Fish Name- Shark</h5>
                  <div class="card-tools">
                    <p class="btn btn-tool">2 hours ago</p>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                      Time- 11:52 Am<br>
                      Weight- 20kg<br>
                      pickup Location- Akurdi<br>
                      Driver Name - XYZ<br>
  
                  </p>
                </div>
              </div>
              <div class="card card-light card-outline">
                  <div class="card-header">
                    <h5 class="card-title">Fish Name- Tuna</h5>
                    <div class="card-tools">
                      <p class="btn btn-tool">3 hours ago</p>
                      </a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p>
                        Time- 9:52 Am<br>
                        Weight- 30kg<br>
                        pickup Location- Akurdi<br>
                        Driver Name - XYZ<br>
                      
  
                    </p>
                  </div>
                </div>
        </div>
      </div>
      <div class="card card-row card-success">
        <div class="card-header">
          <h3 class="card-title">
            Sold
          </h3>
        </div>
        <div class="card-body">
            <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">Fish Name- Shark</h5>
                  <div class="card-tools">
                    <p class="btn btn-tool">2 hours ago</p>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                      Time- 11:52 Am<br>
                      Weight- 20kg<br>
                      pickup Location- Akurdi<br>
                      Driver Name - XYZ<br>
                  </p>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>

</div>


{% endblock %}
